version: '3.1'
services:
  api:
    build: ./api
    container_name: api
    restart: always
    volumes:
      - ./api/:/var/www/html
    ports:
      - 1010:80
    environment:
      - TZ=Asia/Bangkok
